{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .moi {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .card {
        max-width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card img {
        width: 100%;
        height: auto;
        display: block;
    }
    .card-body {
        padding: 1em;
        text-align: center;
    }
</style>

<div class="moi">
    <h1>Bienvenue</h1>

    Bienvenue sur le site de:
    <ul>
        <li>Nom: Caron</li>
        <li>Prénom:Clément</li>
        <li>Groupe : ABB
    </ul>
    <p>Bonjour je m'appelle Clément et j'ai 19 ans. Je suis quelqu'un de soociable ayant le contact facile avec les gens. J'ai toujours été passionné par l'informatique et le réseau et ai donc décider de faire ces études pour en faire mon métier.</p>
    <div class="card">
        <div class="card-body">
            <img src="{{asset('image/moi.jpg')}}">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pour en savoir plus</h5>
            <p class="card-text">Découvrez mes projets et passions en cliquant ci-dessous.</p>
            <a href="{{ path('loisir') }}" class="btn btn-primary">Voir mes passions</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Mon CV présent dans cette page.</p>
            <a href="{{ path('cv') }}" class="btn btn-primary">Voir mon CV</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Mon E-Portfolio.</p>
            <a href="{{ path('E-portfolio') }}" class="btn btn-primary">Voir mon E-Portfolio</a>
        </div>
    </div>
</div>


{% endblock %}