{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <h2>Politique de confidentialité</h2>
    <p>Votre politique de confidentialité ici...</p>
{% endblock %}