{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-4">
    <h1>Mon E-Portfolio</h1>
    <p>Sur cette page est présenté mon E-Portfolio basé sur le portfolio se trouvant sur mon drive</p>

    <div class="card">
        <div class="card-body">
            <p>Lors de mon parcors dans le BUT Réseau et Télécommunicationsj'ai appris différentes choses dans le monde du réseau:</p>
            <ul>
                <li>J'ai appris par exemple à analyser des signaux de transmission  .</li>
<br>
                <li>J'ai aussi appris comment faire des écrits professionnelle au sein d'une entrprise ainsi que le contact avec un client en fonction du langage de celui-ci.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}